#add-button{
    text-align: center;
    
} 
#toggle-button{
    display: none;
}

#lstPending{
    display: none;
}

#lstBlocked{
    display: none;
}

#searchBar{
    height: 80px;
    width: 80px;
    float: left;
}

#SegmentBars{
    
    height: 100%;
    width: 100%;
}

#icons{
    padding: 30% 40%;
}