#add-button{
    text-align: center;
    
} 
#toggle-button{
    display: none;
}

#lstPending{
    display: none;
}

#lstBlocked{
    display: none;
}

#searchBar{
    height: 80px;
    width: 80px;
    float: left;
}

#SegmentBars{
    
    height: 100%;
    width: 100%;
}

#icons{
    padding: 30% 30%;
}

#modal-popup{
    
    position: relative;
}

#card{
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

div.fixed {
    position: absolute;
    bottom: 8px;
    right: 16px;
    }

#overlay {
    position: relative; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#searchBar{
    position: inherit;
    width: 100%;
    height: 100%;
    background-color: white;
}

.page--full_bg__background {
    background: url('image/login-background.jpg');
    background-repeat: repeat-x;
    background-size:1080px 720px;
}